#content{
    font-size: 15px;
    color:black;
}

#footer{
    line-height: 3;
    background-color: white;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

body{
    background-size: cover;
}

.heading{
    width: 100%;
    font-size: 25px;
    margin: 0px;
}